/* RESET */
*{
 margin: 0;
 padding: 0;
}

header.hero{
 background: #123A52;
 color: #fff;
 height: 400px;
 padding: 100px;
 box-sizing: border-box;
 text-align: center;
}

header.hero h1{
 font-size: 3em;
 font-family: sans-serif;
}

header.hero .fa{
 font-size: 4em;
 display: block;
}

header.hero a{
 display: block;
 width: 200px;
 height: 60px;
 box-sizing: border-box;
 border: 2px solid #fff;
 margin: 80px auto;
 color: #fff;
 font-family: sans-serif;
 font-size: 1.4em;
 text-decoration: none;
 line-height: 2.5em;
}

 header.hero a:hover{
 background: #fff;
 color: #123A52;
}

/* CLASES REUTILIZABLES */


.caract{
    text-align: center;
    color: #666;
    display: block;
    text-decoration: none;
}
    
.caract .fa{
    font-size: 4em;
    color: #fff;
    margin: 10px;
    width: 120px;
    height: 120px;
    border: 6px solid #123A52;
    line-height: 2.1em;
    border-radius: 50%;
    background: #123A52
}

.caract .titulo{
    font-family: Arial, sans-serif;
    font-size: 3em;
}

.caract .descripcion{
    color: #888;
    font-size: 1.2em;
    margin: 10px;
}

/* ---CARACTERISTICAS --- */

.caracteristicas{
    padding: 80px 0;
    overflow: hidden;
}

.caracteristicas .caract{
    width: 25%;
    float: left;
}

section.boton{
    background: #123A52;
    padding: 80px 0;
}

section.boton .caract .titulo{
    color: #fff;
    font-size: 2em;
}

section.boton .caract .fa{
    color: #fff;
}

/* ESTADO */

@media (max-width: 800px){
    
header.hero{
    background: #000;
}
    
header.hero h1{
    font-size: 2em;
}
    
header.hero h1 .fa{
    font-size: 2em;
}

header.hero a{
    background: #fff;
    color: #000;
}

.caracteristicas .caract{
    width: 50%;
   }
}

/* MOVILES */

@media (max-width: 600px){
    .caracteristicas .caract{
    width: 100%;
    }
}